.header-todo>h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}


.container-todo-header {
    width: 100%;
    background-color: var(--ligth-gray);
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.container-todo-header>div {
    display: flex;
    gap: 15px;
}

.container-todo-header>div>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.container-todo-header>div>div>input {
    padding: 7px 15px;
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.container-todo-header>div>button {
    border: 1px solid transparent;
    background-color: var(--orange);
    padding: 9px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: .4s;
}

.container-todo-header>div>button:hover {
    border: 1px solid var(--orange);
    background-color: white;
    color: var(--orange);

}